body {
    min-height: 100Vh;
}

.card.navigation {
    width: 140px;
}

.nav-container {
    display: flex;
}

.nav-link {
    margin-right: calc(var(--padding-unit)*3);
    font-size: 1.25rem;
    margin-top: var(--padding-unit);
    margin-bottom: var(--padding-unit);
}

a:link {
    text-decoration: none;
    color: var(--text-colour);
}

a:visited {
    text-decoration: none;
    color: var(--text-colour);
}