.card-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
    color: var(--light-black);
    border-radius: 5px;
    background: radial-gradient(circle at left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));


    padding: 3px calc(var(--padding-unit)*1) 0px calc(var(--padding-unit)*5);
    margin-right: calc(var(--padding-unit)*2);
}

@supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
    /*Intend to add a better background to allow blur*/
    .card-nav {
        background: radial-gradient(circle at left top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
    }
}

.nav-span {
    color: var(--light-black);
}

.nav-link {
    display: inline-flex;
    padding-left: calc(var(--padding-unit)*2);
    padding-right: calc(var(--padding-unit)*3);
    font-size: 1.2rem;
    height: 35px;
    border-right: 2px solid rgba( 255, 255, 255, 0.3 );
}

.nav-link:first-child {
    padding-left: calc(var(--padding-unit)*3);
}

.nav-link:last-child {
    border-right: 0
}

.nav-text {
    margin: 7px 0px 1px 6px;
}

.nav-icon {
    height: 35px;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.screenshot-image {
    width: min(calc(100% - 3px), 400px);
    height: auto;
    border: 2px solid rgba( 255, 255, 255, 0.5 );
    border-radius: 3px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 12px;
}

.max-width {
    margin-left: calc(var(--padding-unit)*4);
    max-width: 600px;
}

h3 {
    color: var(--text-colour);
}

.card {
    margin-bottom: 0;
}

