.card-nav {
  color: var(--light-black);
  border-radius: 5px;
  background: radial-gradient(
    circle at left top,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  width: 500px;


  /*padding: 3px calc(var(--padding-unit)*1) 0px calc(var(--padding-unit)*5);
    margin-right: calc(var(--padding-unit)*2);*/
}

.sticky-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
  z-index: 3000;
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  /*Intend to add a better background to allow blur*/
  .card-nav {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
}

.nav-span {
  color: var(--light-black);
  padding: calc(var(--padding-unit) * 1);
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  display: inline-flex;
  /*padding-left: calc(var(--padding-unit)*2);
    padding-right: calc(var(--padding-unit)*3);*/
  font-size: 1.2rem;
  height: 35px;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.nav-link:last-child {
  border-right: 0;
}

.nav-text {
  margin: 7px 0px 1px 6px;
  width: 115px;
}

@media only screen and (max-width: 550px) {
  .nav-text {
    visibility: hidden;
    width: 5px;
  }

  .card-nav {
    width: 200px;
  }
}

.nav-icon {
  height: 35px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.screenshot-image {
  max-width: calc(var(--mobile-width) - 4px);
  height: auto;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 12px;
}

.max-width {
  margin-left: calc(var(--padding-unit) * 4);
  max-width: 600px;
}

h3 {
  color: var(--light-black);
}

.thumbnail {
  height: 36px;
  width: 36px;
}

.item1 {
  grid-area: logo;
}
.item2 {
  grid-area: header;
  margin: 0px;
  margin-top: 7px;
}
.item3 {
  grid-area: main;
  margin: var(--padding-unit);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "logo header header header header"
    "main main main main main"
    "main main main main main";
  padding: 2px;
}

.card-no-background {
  margin-bottom: 0;

}

.card-no-background > .card.text {
  margin-bottom: calc(var(--padding-unit)*3);
  margin-right: 0px;
}

.card.text {
  width: calc(var(--mobile-width) - 26px);
}

h4 {
  font-size: 1.15rem;
}

@media only screen and (min-width: 1200px) {
  .flex-container {
    justify-content: center;
  }

  .card-nav {
    margin: 0 auto 0 auto;
  }

}
