h2 {
    color: var(--text-colour);
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.icon-image {
    height: 48px;
    width: auto;
}

.text-under-image {
    margin: 0px;
    text-align: center;
    font-size: 0.75rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.rectangle {
    width: clamp(142px, 100%, 240px);

    background: radial-gradient(circle at left top, rgba(163, 95, 251, 0.7), rgba(163, 95, 251, 0.4));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 4px;
    padding: var(--padding-unit);
    margin-bottom: var(--padding-unit);
    position: relative;
    color: var(--off-white);
}

.project-details{
    margin: 0px;
    font-size: 1rem;
}

h3 {
    text-align: center;
    color: var(--off-white);
    margin-top: var(--padding-unit);
    margin-bottom: var(--padding-unit);
}

.button-style-link {
    background-color: var(--contrast-colour);
    border-radius: 4px;
    color: black;
    padding: 3px;
    font-size: 0.8rem;
    margin-right: var(--padding-unit);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.flex-span-tags {  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    padding-right: var(--padding-unit)
}

.absolute-bottom-right {
    position: absolute;
    bottom: -9px;
    right: 0px;
}

.tag {
    border: 1px solid var(--contrast-colour);
    color: var(--contrast-colour);
    border-radius: 2px;
    padding: 1px;
    font-size: 0.75rem;
    margin-right: calc(var(--padding-unit)*0.5);

}