h2 {
    color: var(--off-white);
}

.heading-details {
    color: var(--off-white);
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-image {
    height: 48px;
    width: auto;
}

.text-under-image {
    margin: 0px;
    text-align: center;
    font-size: 0.75rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.rectangle {
    width: 300px;
    padding: calc(var(--padding-unit)*1);
    padding-left: calc(var(--padding-unit)*1.5) ;
    margin-bottom: var(--padding-unit);
    position: relative;
    color: var(--light-black);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0);
    
}

a.rectangle:hover {
    background: radial-gradient(circle at left top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.project-details{
    margin: 3px;
    font-size: 1rem;
    margin-bottom: calc(var(--padding-unit)*2);;
}

h3 {
    text-align: center;
    margin-top: var(--padding-unit);
    margin-bottom: var(--padding-unit);
}

.button-style-link {
    background-color: var(--theme-right-middle);
    border-radius: 4px;
    color: black;
    padding: 3px;
    font-size: 0.8rem;
    margin-right: var(--padding-unit);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.flex-span-tags {  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    padding-right: var(--padding-unit);
}

.absolute-bottom-right {
    position: absolute;
    bottom: -9px;
    right: 0px;
}

.tag {
    color: var(--theme-right-corner);
    background-color: rgb(76, 151, 179, 0.5);
    border-radius: 20px;
    padding: 4px;
    font-size: 0.75rem;
    margin-left: calc(var(--padding-unit)*2);
}


em {
    margin-right: calc(var(--padding-unit)*0.5);
}